*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* PRIMO MENU*/
header{
  width: 100%;
}

.header-contenitore-top{

  height: 70px;
  line-height: 70px;
  background-color: #f5f8fa;
}



.contenitore-w{
  width: 70%;
  margin: auto;
}

.header-top-nav-sinistro{
  float: left;
  width: 50%;
}

.header-top-nav-destro{
  float: left;
  width: 50%;
  text-align: right;
}

.menu{
  list-style: none;
}

.menu li{
  display: inline-block;
}

.down{
  border-right: 1px solid black;
  padding-right: 12px;
}

.paragrafo1{
  padding-left: 8px;
}


/* header-top-bottom */

.header-top-bottom{
  height: 70px;
  line-height: 70px;
}

.header-top-logo{
  float: left;
  width: 50%;
  line-height: 90px;
}

.down li{
  border-right: none;
  padding-left: 12px;
  }

  .header-bottom-bottom{
    float: left;
    width: 50%;
    text-align: right;
    line-height: 60px;
  }

  .fa-angle-dow{
    padding: 0 8px;
  }

  aside{
    padding:8px;
  }

  .fa-search{
    color: #007fff;
    font-size: 13px;
    margin-right: 10px;
  }

  .contenitore-z{
    width: 70%;
    margin: auto;
  }


/* STILE PER I BOTTONI */


.bottone{
  border-radius: 5px;
  color: #fff;
  padding: 8px 8px;
  min-width: 100px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.bottone2{
  border-radius: 5px;
  color: #fff;
  padding: 8px 8px;
  min-width: 60px;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

.bottone-gethub-grande {
  border-radius: 5px;
  color: #fff;
  padding: 20px 20px;
  min-width: 100px;
  background-color: #FE775A;
  border: none;
}

.bottone-arancione {
  background-color: #FE775A;
}

.bottone-bianco{
  border: 1px solid #FE775A;
  color: orange;
}

/* STILE PER LE IMMAGINI*/


.contenitore{
  height: 650px;
  background-color: #FFF3EE;
}

.img{
  background-image:url(img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.colore{
  width: 70%;
  margin: auto;
  position: relative;
}

.testo{
 position: absolute;
 top: 110px;
}
.rettangolo{
  height: 80px;
  background-color: green;
  border-bottom: 3px solid #33475B;
  border-top: 3px solid #33475B;
  background-color: #42FFC7;
}


h1{
 font-size: 50px;
 top: 50px;
}

span{
  font-size: 12px;
}

/* INIZIO MAIN */

main{
  width: 100%;
  background-color: #F4F9FD;
}

.contenitore2{
  width: 70%;
  margin: auto;
}

.dimensione{
  font-size: 40px;
}

.cubo{
  text-align: center;
}

.divisione{
  margin-top: 20px;
}



.crm-sinistro {
  width: 50%;
  float: left;
  text-align: center;
}

.crm-sinistro img {
  display: block;
  margin: auto;
  width: 35%;
  margin-bottom: 20px;
  margin-top: 50px;
}

.crm-destro{
  width: 50%;
  float: left;
  padding: 20px;
}

.box-titolo {
  font-size: 25px;
  font-weight: 900;
  text-transform: capitalize;
}

.crm-right .box-titolo {
  margin-top: 25px;
}

.box-descrizione {
  line-height: 1.8;
}

.feature-title {
  text-transform: uppercase;
  font-weight: 900;
}

.crm-right .box-titolo {
  margin-bottom: 25px;
}

.box-descrizione {
  line-height: 1.8;
}

.crm-right .box-descrizione {
  max-width: 80%;
  margin-bottom: 20px;
}

.feature-title {
  text-transform: uppercase;
  font-weight: 900;
}

.crm-right .feature-title {
  display: inline-block;
  margin: 0 45px 25px 0;
}

.box-line {
  height: 20px;
  width: 40%;
  display: inline-block;
  margin-bottom: 5px;
  border-bottom: 2px solid #899397;
}

.feature-list {
  list-style: none;
}

.feature-item {
  display: inline-block;
  margin-right: 20px;
  text-transform: capitalize;
}

.feature-list .fa-check-circle {
  color: #FE775A;
  margin-right: 15px;
}

.cubo2{
  width: 70%;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 5px lightgrey;
  margin-bottom: 80px;
}
